USE [master]
GO
/****** Object:  Database [uslugi_work]    Script Date: 17.10.2022 13:32:57 ******/
CREATE DATABASE [uslugi_work]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'uslugi_work', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\uslugi_work.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'uslugi_work_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\uslugi_work_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [uslugi_work].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [uslugi_work]
GO
/****** Object:  Table [dbo].[client]    Script Date: 17.10.2022 13:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client](
	[id_клиент] [int] NOT NULL,
	[Фамилия] [varchar](50) NULL,
	[Имя] [varchar](50) NULL,
	[Отчество] [varchar](50) NULL,
	[Пол] [varchar](50) NULL,
	[Телефон] [varchar](50) NULL,
	[Дата рождения] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Дата регистрации] [varchar](50) NULL,
 CONSTRAINT [PK_client] PRIMARY KEY CLUSTERED 
(
	[id_клиент] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kategory]    Script Date: 17.10.2022 13:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kategory](
	[id_категориятовара] [int] NOT NULL,
	[Наименование услуги] [varchar](max) NULL,
	[Главное изображение] [nvarchar](50) NULL,
	[Длительность] [int] NULL,
	[Стоимость] [int] NULL,
	[Действующая скидка] [int] NULL,
 CONSTRAINT [PK_kategory] PRIMARY KEY CLUSTERED 
(
	[id_категориятовара] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uslugi]    Script Date: 17.10.2022 13:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uslugi](
	[Id_услуги] [int] NOT NULL,
	[id_категориятовара] [int] NOT NULL,
	[Начало оказания услуги] [varchar](50) NULL,
	[id_клиент] [int] NOT NULL,
 CONSTRAINT [PK_uslugi] PRIMARY KEY CLUSTERED 
(
	[Id_услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[client] ([id_клиент], [Фамилия], [Имя], [Отчество], [Пол], [Телефон], [Дата рождения], [Email], [Дата регистрации]) VALUES (1, N'Васильев', N' Оскар', N' Богданович', N' м', N' 7(585)801-94-29 ', N' 1971-01-30', N' miturria@verizon.net', N' 2017-05-28')
INSERT [dbo].[client] ([id_клиент], [Фамилия], [Имя], [Отчество], [Пол], [Телефон], [Дата рождения], [Email], [Дата регистрации]) VALUES (2, N'Лазарев', N'Алексей', N'Богданович', N' м', N' 7(0055)737-37-48 ', N' 1977-03-10', N' claesjac@me.com', N' 2017-01-02')
INSERT [dbo].[client] ([id_клиент], [Фамилия], [Имя], [Отчество], [Пол], [Телефон], [Дата рождения], [Email], [Дата регистрации]) VALUES (3, N'Казаков', N'Дмитрий', N'Русланович', N' м', N' 7(51)682-19-40 ', N' 1978-12-15', N' ozawa@verizon.net', N' 2016-05-21')
GO
INSERT [dbo].[kategory] ([id_категориятовара], [Наименование услуги], [Главное изображение], [Длительность], [Стоимость], [Действующая скидка]) VALUES (2, N'Занятие с репетитором-носителем испанского языка', N'Испанский язык.jpg', 50, 1090, 5)
INSERT [dbo].[kategory] ([id_категориятовара], [Наименование услуги], [Главное изображение], [Длительность], [Стоимость], [Действующая скидка]) VALUES (3, N'Занятие с репетитором-носителем итальянского языка', N'Итальянский язык.jpg', 120, 1370, 5)
INSERT [dbo].[kategory] ([id_категориятовара], [Наименование услуги], [Главное изображение], [Длительность], [Стоимость], [Действующая скидка]) VALUES (4, N'какой то шашлык', N'Китайский язык.jpg', 120, 3650, 5)
GO
INSERT [dbo].[uslugi] ([Id_услуги], [id_категориятовара], [Начало оказания услуги], [id_клиент]) VALUES (1, 97, N'16.11.2019 11:20', 49)
INSERT [dbo].[uslugi] ([Id_услуги], [id_категориятовара], [Начало оказания услуги], [id_клиент]) VALUES (2, 19, N'11.01.2019 18:10', 37)
INSERT [dbo].[uslugi] ([Id_услуги], [id_категориятовара], [Начало оказания услуги], [id_клиент]) VALUES (3, 61, N'01.12.2019 14:40', 37)
GO
ALTER TABLE [dbo].[uslugi]  WITH CHECK ADD  CONSTRAINT [FK_uslugi_client] FOREIGN KEY([id_клиент])
REFERENCES [dbo].[client] ([id_клиент])
GO
ALTER TABLE [dbo].[uslugi] CHECK CONSTRAINT [FK_uslugi_client]
GO
ALTER TABLE [dbo].[uslugi]  WITH CHECK ADD  CONSTRAINT [FK_uslugi_kategory] FOREIGN KEY([id_категориятовара])
REFERENCES [dbo].[kategory] ([id_категориятовара])
GO
ALTER TABLE [dbo].[uslugi] CHECK CONSTRAINT [FK_uslugi_kategory]
GO
USE [master]
GO
