USE [master]
GO
/****** Object:  Database [SellBooks]    Script Date: 26.06.2022 13:23:20 ******/
CREATE DATABASE [SellBooks]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SellBooks', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SellBooks.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SellBooks_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SellBooks_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SellBooks].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SellBooks]
GO
/****** Object:  Table [dbo].[Информация]    Script Date: 26.06.2022 13:23:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Информация](
	[IdTovar] [int] NULL,
	[ISBN] [varchar](40) NULL,
	[Pages] [int] NULL,
	[Weight] [int] NULL,
	[Size] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Книги]    Script Date: 26.06.2022 13:23:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Книги](
	[IdBook] [int] NULL,
	[NameBook] [varchar](40) NULL,
	[AuthorF] [varchar](20) NULL,
	[AuthorM] [varchar](20) NULL,
	[Price] [float] NULL,
	[image] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Чек]    Script Date: 26.06.2022 13:23:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Чек](
	[DateSell] [date] NULL,
	[IdBook] [int] NULL,
	[NameBook] [varchar](40) NULL,
	[Count] [int] NULL,
	[Price] [float] NULL,
	[Sum] [float] NULL
) ON [PRIMARY]
GO
USE [master]
GO
