USE [master]
GO
/****** Object:  Database [bookshop]    Script Date: 03.10.2022 15:25:12 ******/
CREATE DATABASE [bookshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bookshop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\bookshop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bookshop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\bookshop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bookshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bookshop]
GO
/****** Object:  Table [dbo].[books]    Script Date: 03.10.2022 15:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[book_ID] [int] NOT NULL,
	[b_name] [nvarchar](200) NOT NULL,
	[b_author] [nvarchar](200) NOT NULL,
	[b_year] [int] NOT NULL,
	[b_price] [decimal](7, 2) NULL,
	[b_count] [int] NULL,
	[b_cat_ID] [int] NOT NULL,
 CONSTRAINT [PK_books] PRIMARY KEY CLUSTERED 
(
	[book_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[catalogs]    Script Date: 03.10.2022 15:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catalogs](
	[cat_ID] [int] IDENTITY(1,1) NOT NULL,
	[cat_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 03.10.2022 15:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_ID] [int] IDENTITY(1,1) NOT NULL,
	[o_user_ID] [int] NOT NULL,
	[o_book_ID] [int] NOT NULL,
	[o_time] [datetime] NOT NULL,
	[o_number] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 03.10.2022 15:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](30) NOT NULL,
	[Manufacturer] [nvarchar](20) NOT NULL,
	[ProductCount] [int] NULL,
	[Price] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 03.10.2022 15:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_ID] [int] IDENTITY(1,1) NOT NULL,
	[u_name] [nvarchar](50) NOT NULL,
	[u_patronymic] [nvarchar](50) NOT NULL,
	[u_surname] [nvarchar](50) NOT NULL,
	[u_phone] [nvarchar](12) NULL,
	[u_email] [nvarchar](50) NULL,
	[u_status] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ('0') FOR [b_count]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ('0') FOR [b_cat_ID]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('0000-00-00 00:00:00') FOR [o_time]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('0') FOR [o_number]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [ProductCount]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('passive') FOR [u_status]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD  CONSTRAINT [FK_books_catalogs] FOREIGN KEY([b_cat_ID])
REFERENCES [dbo].[catalogs] ([cat_ID])
GO
ALTER TABLE [dbo].[books] CHECK CONSTRAINT [FK_books_catalogs]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_books] FOREIGN KEY([o_book_ID])
REFERENCES [dbo].[books] ([book_ID])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_books]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_users] FOREIGN KEY([o_user_ID])
REFERENCES [dbo].[users] ([user_ID])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_users]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([u_status]='active' OR [u_status]='passive' OR [u_status]='lock' OR [u_status]='gold'))
GO
USE [master]
GO
