USE [master]
GO
/****** Object:  Database [bookshop]    Script Date: 12.10.2022 15:03:55 ******/
CREATE DATABASE [bookshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bookshop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\bookshop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bookshop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\bookshop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bookshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bookshop]
GO
/****** Object:  Table [dbo].[books]    Script Date: 12.10.2022 15:03:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[book_ID] [int] NOT NULL,
	[b_name] [nvarchar](200) NOT NULL,
	[b_author] [nvarchar](200) NOT NULL,
	[b_year] [int] NOT NULL,
	[b_price] [decimal](7, 2) NULL,
	[b_count] [int] NULL,
	[b_cat_ID] [int] NOT NULL,
 CONSTRAINT [PK_books] PRIMARY KEY CLUSTERED 
(
	[book_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[catalogs]    Script Date: 12.10.2022 15:03:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catalogs](
	[cat_ID] [int] IDENTITY(1,1) NOT NULL,
	[cat_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[february]    Script Date: 12.10.2022 15:03:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[february](
	[order_ID] [int] IDENTITY(1,1) NOT NULL,
	[o_user_ID] [int] NOT NULL,
	[o_book_ID] [int] NOT NULL,
	[o_time] [datetime] NOT NULL,
	[o_number] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 12.10.2022 15:03:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_ID] [int] IDENTITY(1,1) NOT NULL,
	[o_user_ID] [int] NOT NULL,
	[o_book_ID] [int] NOT NULL,
	[o_time] [datetime] NOT NULL,
	[o_number] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12.10.2022 15:03:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](30) NOT NULL,
	[Manufacturer] [nvarchar](20) NOT NULL,
	[ProductCount] [int] NULL,
	[Price] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12.10.2022 15:03:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_ID] [int] IDENTITY(1,1) NOT NULL,
	[u_name] [nvarchar](50) NOT NULL,
	[u_patronymic] [nvarchar](50) NOT NULL,
	[u_surname] [nvarchar](50) NOT NULL,
	[u_phone] [nvarchar](12) NULL,
	[u_email] [nvarchar](50) NULL,
	[u_status] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[books] ([book_ID], [b_name], [b_author], [b_year], [b_price], [b_count], [b_cat_ID]) VALUES (1, N'JavaScript в кармане ', N'Рева О.Н. ', 2008, CAST(42.00 AS Decimal(7, 2)), 10, 1)
INSERT [dbo].[books] ([book_ID], [b_name], [b_author], [b_year], [b_price], [b_count], [b_cat_ID]) VALUES (2, N'Visual FoxPro 9.0 ', N'Клепинин В.Б. ', 2007, CAST(660.00 AS Decimal(7, 2)), 2, 1)
INSERT [dbo].[books] ([book_ID], [b_name], [b_author], [b_year], [b_price], [b_count], [b_cat_ID]) VALUES (3, N'C++ Как он есть ', N'Тимофеев В.В. ', 2009, CAST(218.00 AS Decimal(7, 2)), 4, 1)
GO
SET IDENTITY_INSERT [dbo].[catalogs] ON 

INSERT [dbo].[catalogs] ([cat_ID], [cat_name]) VALUES (1, N'Программирвание')
INSERT [dbo].[catalogs] ([cat_ID], [cat_name]) VALUES (2, N'Интернет')
INSERT [dbo].[catalogs] ([cat_ID], [cat_name]) VALUES (3, N'База данных')
SET IDENTITY_INSERT [dbo].[catalogs] OFF
GO
SET IDENTITY_INSERT [dbo].[february] ON 

INSERT [dbo].[february] ([order_ID], [o_user_ID], [o_book_ID], [o_time], [o_number]) VALUES (17, 1, 20, CAST(N'2009-02-18T13:41:05.000' AS DateTime), 4)
INSERT [dbo].[february] ([order_ID], [o_user_ID], [o_book_ID], [o_time], [o_number]) VALUES (18, 1, 20, CAST(N'2009-02-18T13:41:05.000' AS DateTime), 4)
INSERT [dbo].[february] ([order_ID], [o_user_ID], [o_book_ID], [o_time], [o_number]) VALUES (19, 1, 20, CAST(N'2009-02-18T13:41:05.000' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[february] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_ID], [o_user_ID], [o_book_ID], [o_time], [o_number]) VALUES (10, 3, 8, CAST(N'2009-04-01T10:39:00.000' AS DateTime), 1)
INSERT [dbo].[orders] ([order_ID], [o_user_ID], [o_book_ID], [o_time], [o_number]) VALUES (11, 6, 10, CAST(N'2009-10-02T09:40:00.000' AS DateTime), 2)
INSERT [dbo].[orders] ([order_ID], [o_user_ID], [o_book_ID], [o_time], [o_number]) VALUES (13, 4, 20, CAST(N'2009-10-03T18:20:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [ProductName], [Manufacturer], [ProductCount], [Price]) VALUES (1, N'iPhone 6', N'Apple', 3, 36000.0000)
INSERT [dbo].[Products] ([Id], [ProductName], [Manufacturer], [ProductCount], [Price]) VALUES (2, N'iPhone 6S', N'Apple', 2, 41000.0000)
INSERT [dbo].[Products] ([Id], [ProductName], [Manufacturer], [ProductCount], [Price]) VALUES (3, N'iPhone 7', N'Apple', 5, 52000.0000)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_ID], [u_name], [u_patronymic], [u_surname], [u_phone], [u_email], [u_status]) VALUES (1, N'Александр', N'Валерьевич', N'Иванов', N'58-98-78', N'ivanov@email.ru', N'active')
INSERT [dbo].[users] ([user_ID], [u_name], [u_patronymic], [u_surname], [u_phone], [u_email], [u_status]) VALUES (2, N'Сергей', N'Иванович', N'Лосев', N'90-57-77', N'losev@email.ru', N'passive')
INSERT [dbo].[users] ([user_ID], [u_name], [u_patronymic], [u_surname], [u_phone], [u_email], [u_status]) VALUES (3, N'Игорь', N'Николаевич', N'Симонов', N'95-66-61', N'simonov@email.ru', N'active')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ('0') FOR [b_count]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ('0') FOR [b_cat_ID]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('0000-00-00 00:00:00') FOR [o_time]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('0') FOR [o_number]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [ProductCount]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('passive') FOR [u_status]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD  CONSTRAINT [FK_books_catalogs] FOREIGN KEY([b_cat_ID])
REFERENCES [dbo].[catalogs] ([cat_ID])
GO
ALTER TABLE [dbo].[books] CHECK CONSTRAINT [FK_books_catalogs]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_books] FOREIGN KEY([o_book_ID])
REFERENCES [dbo].[books] ([book_ID])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_books]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_users] FOREIGN KEY([o_user_ID])
REFERENCES [dbo].[users] ([user_ID])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_users]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([u_status]='active' OR [u_status]='passive' OR [u_status]='lock' OR [u_status]='gold'))
GO
/****** Object:  StoredProcedure [dbo].[Num]    Script Date: 12.10.2022 15:03:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Num]
@user_code int,
@total int output
as
begin
select @total=count(*) from orders
where o_user_ID=@user_code
end
GO
/****** Object:  StoredProcedure [dbo].[ord_febr]    Script Date: 12.10.2022 15:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ord_febr] as
begin
set dateformat ymd
insert into february(o_user_ID, o_book_ID, o_time, o_number)
select o_user_ID, o_book_ID, o_time, o_number
from orders
where o_time between '2009-02-01' and '2009-02-28'
end
GO
USE [master]
GO
